# SEMANA 04
Estudiante: Jimmy Alexander Huerta Vasquez

Agenda
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por el teclado
5. Operadores

3. Manejo de cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"

In [3]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [34]:
#Universidad Nacional Tecnológica de Lima Sur
#012345...
#...-3-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
#También considera los espacios en blanco
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
cadena[-23]

'T'

In [12]:
#Para mostrar una subcadena [desde, hasta una antes]
#En java era substring()
cadena[6:10]

'sida'

In [14]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [15]:
#Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [16]:
#Para mostrar una cadena en minúscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [17]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [20]:
#Generar una lista a partir de una cadena. split()
cadena.split() #por defecto es como si fuera (" ")

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [21]:
#Generar una lista utilizando un criterio de separación a partir de una cadena. split()
#En este caso vamos a generar una lista de toda la cadena
#Utilizando como criterio de separación la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

3 formas de concatenar

In [23]:
#FORMA 01
#Forma clásica, concatenar con "+"
nombre = "Jimmy Huerta"
print("Buenas tardes, " + nombre)

Buenas tardes, Jimmy Huerta

In [25]:
#FORMA 02
#Utilizando el .format()
nombre = "Jimmy Huerta"
edad = 19
print("Hola {}, ya sé que tienes {} años".format(nombre, edad))

Hola Jimmy Huerta, ya sé que tienes 19 años

In [29]:
#-Dar formato, con .format(), a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.2f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.33

In [27]:
#FORMA 03
#Dar formato con f
#La funcion f, está disponible desde la versión 3.6
nombre = "Jimmy Huerta"
edad = 19
print(f"Buenos días, {nombre}, ya sé que tienes {edad} años")

Buenos días, Jimmy Huerta, ya sé que tienes 19 años

In [30]:
#-Dar formato, con f, a números con muchos decimales
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.2f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.33