# Semana 04
Jimmy Alexander Huerta Vásquez

Agenda

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso por el teclado
5. Operadores

5. Operadores

In [35]:
#5.1 Operadores aritméticos
#Se tiene: +, -, *, /, **, %, //

In [36]:
numero1 = 10
numero2 = 13
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(cociente)
print(potencia)

23
-3
130
0.7692307692307693
0
10000000000000

In [37]:
#5.2 Operadores de asignación
#Se tiene: =, +=, -=, *=, /=, **=
numero = 8
numero = numero + 2
print(numero)

10

In [38]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 8
numero += 2
print(numero)

10

In [39]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [40]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [41]:
#5.3 Operadores de comparación
#Se tiene: ==, !=, <, >, <=, >=,

In [42]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [43]:
#Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [44]:
#5.4 Operadores lógicos
#Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [45]:
numero1 < numero2

True

In [46]:
#El not invierte el resultado
not(numero1<numero2)

False

In [47]:
numero1<numero2 and numero3<numero4

True

In [48]:
#Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [49]:
#5.5 Operadores de Pertenencia
#Se tiene: in, not in

In [50]:
#Miremos un ejemplo:

In [51]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [52]:
#¿Diego está en aula?
alumno1 in aula

False

In [53]:
#¿Juan está en aula?
alumno2 in aula

True

In [54]:
#¿Juan no está en aula?
alumno2 not in aula

False

In [55]:
#5.6 Operadores de identidad
#Se tiene: is, is not

In [56]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A continuación vamos a indicar que aula3 va a
#compartir el mismo objeto que aula1
aula3 = aula1

In [57]:
#¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [58]:
#¿aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [59]:
#¿aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [60]:
aula1.append("Diego")

In [61]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [62]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [63]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']