# SEMANA 04
Estudiante: Jimmy Alexander Huerta Vasquez

Agenda
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de valores por el teclado
5. Operadores

2. Variables

In [7]:
#Se deben iniciar siempre con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [1]:
edad = 21
edad

21

In [2]:
nombre = "Jimmy"
nombre

'Jimmy'

In [3]:
apellido = "Huerta Vasquez"
apellido

'Huerta Vasquez'

In [4]:
nombre_completo = nombre + " " + apellido
nombre_completo

'Jimmy Huerta Vasquez'

In [10]:
#Para saber el tipo de variable utilizamos la función type()
#Por ejemplo:
numero = 2024
type(numero)

int

In [11]:
talla = 1.72
type(talla)

float

In [20]:
#Para convertir un numero, entero o decimal, en cadena utilizamos str()
numero = 2020
cadena = str(numero)
cadena

'2020'

In [17]:
type(cadena)

str

In [21]:
#Para convertir una cadena a entero utilizamos int()
cadena1 = "2012"
numero1 = int(cadena1)
numero1

2012

In [22]:
type(numero1)

int

In [23]:
#Para convertir una cadena a decimal utilizamos float()
cadena2 = "2012"
numero2 = float(cadena2)
numero2

2012.0

In [24]:
type(numero2)

float