# Semana 04
Jimmy Alexander Huerta Vásquez

Agenda

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso por el teclado
5. Operadores

5. Operadores

In [4]:
#5.1 Operadores aritméticos
#Se tiene: +, -, *, /, **, %, //

In [58]:
numero1 = 10
numero2 = 13
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2 #división considerando la parte decimal
cociente = numero1 // numero2 #división considerando unicamente la parte entera y no la decimal
modulo = numero1 % numero2
potencia = numero1 ** numero2
print(f"La suma entre {numero1} y {numero2} es ",suma)
print(f"La resta entre {numero1} y {numero2} es ",resta)
print(f"La multiplicación entre {numero1} y {numero2} es ",multiplicacion)
print(f"La división entre {numero1} y {numero2} es ",division)
print(f"El cociente entero de la división entre {numero1} y {numero2} es ",cociente)
print(f"El residuo (o modulo) de la división entre {numero1} y {numero2}, si solo tenemos de cociente a un entero, es ",modulo)
print(f"La potencia de {numero1} elevado a la {numero2} es ",potencia)

La suma entre 10 y 13 es  23
La resta entre 10 y 13 es  -3
La multiplicación entre 10 y 13 es  130
La división entre 10 y 13 es  0.7692307692307693
El cociente entero de la división entre 10 y 13 es  0
El residuo (o modulo) de la división entre 10 y 13, si solo tenemos de cociente a un entero, es  10
La potencia de 10 elevado a la 13 es  10000000000000

In [9]:
#5.2 Operadores de asignación
#Se tiene: =, +=, -=, *=, /=, **=

In [10]:
numero = 8
numero = numero + 2
print(numero)

10

In [11]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 8
numero += 2
print(numero)

10

In [12]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [13]:
#La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [14]:
#5.3 Operadores de comparación
#Se tiene: ==, !=, <, >, <=, >=,

In [15]:
#Ejemplo de igualdad ==
numero1 = 20
numero2 = 15
numero1 == numero2

False

In [18]:
#Con las cadenas funciona igual ==
nombre1 = "Pedro"
nombre2 = "Pedro"
nombre1 == nombre2

True

In [19]:
#5.4 Operadores lógicos
#Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [20]:
numero1 < numero2

True

In [27]:
#Usando not (¬, ~)
#El not invierte el resultado
not(numero1<numero2)

False

In [28]:
#Usando and (∧)
numero1<numero2 and numero3<numero4

True

In [29]:
#Usando or (∨)
#Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [30]:
#5.5 Operadores de Pertenencia
#Se tiene: in, not in

In [31]:
#Miremos un ejemplo:
aula = ["Manuel", "Rodrigo", "Jimmy"]
alumno1 = "Hans"
alumno2 = "Andres"

In [32]:
#¿Hans está en aula?
alumno1 in aula

False

In [33]:
#¿Andres está en aula?
alumno2 in aula

False

In [34]:
#¿Manuel no está en aula?
alumno2 not in aula

True

In [42]:
#5.6 Operadores de identidad
#Se tiene: is, is not

In [43]:
aula1 = ["Arian", "Jorge", "Carlos"]
aula2 = ["Arian", "Jorge", "Carlos"]
#A continuación vamos a indicar que aula3 va a
#compartir el mismo objeto que aula1
aula3 = aula1

In [49]:
#Usando is
#-¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [50]:
#-¿aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [51]:
#-¿aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [52]:
#Para añadir elemento al final de la lista .append()
aula1.append("Diego")

In [53]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Arian', 'Jorge', 'Carlos', 'Diego']

In [54]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Arian', 'Jorge', 'Carlos', 'Diego']

In [55]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Arian', 'Jorge', 'Carlos']